<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="MainUIFolder">
            <Component Id="cmpJE0G5IUtaRILQGELIBgnANTR5t4" Guid="{B598EDBE-73CD-49FC-8FD4-49BAE5B40B3D}">
                <File Id="filY_E3hqc0uHcP.sPoQ8sLihSeQBw" KeyPath="yes" Source="$(var.MainBasePath)\CommonModule.dll" />
            </Component>
            <Component Id="cmpzh8zytjkUSXTroBqREW4z2Tonug" Guid="{D86F51C0-F8CD-4062-A413-637D2D8CDB78}">
                <File Id="filTTXHEhmYnnTmL1WvH6K2ok9rQcs" KeyPath="yes" Source="$(var.MainBasePath)\CommonModule.pdb" />
            </Component>
            <Component Id="cmpu.YAXsXQWKEXEdK8DT2._YvAOQA" Guid="{4197BF44-5337-4595-8680-9B7D1DC63BA8}">
                <File Id="filQJ3YtTlYyqOM8HVY0yiG20750Cc" KeyPath="yes" Source="$(var.MainBasePath)\MainModule.dll" />
            </Component>
            <Component Id="cmpk.LX06kbVUgDCgpkHpJbVxtHUH8" Guid="{CD0351F1-294B-4625-BC82-35DFCECA4C17}">
                <File Id="filplIcu8FByTeMzYPGpAeQr4aUZjk" KeyPath="yes" Source="$(var.MainBasePath)\MainModule.pdb" />
            </Component>
            <Component Id="cmp1FvqwvwmXYU7ysUoLTjLc.U9OmI" Guid="{4A22E6AD-CAE8-4342-9E4B-B47A9E67FE7F}">
                <File Id="filWAXWCdghL9r4XnE0xnFB.hFlOxo" KeyPath="yes" Source="$(var.MainBasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpxS0KlCa2n5LoidzMvMgCyWwvqvg" Guid="{61AC0945-DEAB-414B-9684-2037D211D42C}">
                <File Id="filSwX4BGqdje.jLZe_E7dwwZAZT54" KeyPath="yes" Source="$(var.MainBasePath)\PackageModule.dll" />
            </Component>
            <Component Id="cmpK6Z1auv_XhIKfZbTdOjapwGkGk0" Guid="{85902C03-2EB2-4F57-BCC9-82E3DB315085}">
                <File Id="filgTa9m609MyfDSb6Xr9KC9cq2Jy8" KeyPath="yes" Source="$(var.MainBasePath)\PackageModule.pdb" />
            </Component>
            <Component Id="cmpS7Q9qwavrpCOGMYx3pffz4YY_gk" Guid="{6F689E61-A321-45B5-AE35-CFA6AFDAE2B1}">
                <File Id="filuCDiJOlsI3AbBjYGjQPwd.0EvNo" KeyPath="yes" Source="$(var.MainBasePath)\Prism.dll" />
            </Component>
            <Component Id="cmpqpH2JJwPWWCuWO9q9huh62k3Abs" Guid="{5DB929A6-5EC1-42DD-A4B5-95B75B0E0BF1}">
                <File Id="filnAdzNIbLO5HHkUZ6e12I70yz6to" KeyPath="yes" Source="$(var.MainBasePath)\Prism.Logging.Serilog.dll" />
            </Component>
            <Component Id="cmpGU.ac7zGPAKn6rUsbAVLpqj6TuQ" Guid="{AFFEA22E-9823-4A5D-AA57-5E006CEF2ACE}">
                <File Id="fil7jdeaTrar.RzJsBG0jdUGntA7j4" KeyPath="yes" Source="$(var.MainBasePath)\Prism.Unity.Wpf.dll" />
            </Component>
            <Component Id="cmpSOmLVevMMETyQ5mx_L32U9i6QpI" Guid="{245D6FE3-8A7D-44A7-BBFE-1F774412D749}">
                <File Id="filD4IQYqxfCVErZpTWQszUbwcvd0o" KeyPath="yes" Source="$(var.MainBasePath)\Prism.Wpf.dll" />
            </Component>
            <Component Id="cmpYMKjdnyZSO0yv6LgVbgTxZUUN.8" Guid="{E579A8A9-F65B-44A2-AE2C-E0712CACEE11}">
                <File Id="fileWKMDTGW2IyqL.fQTtgD2jxoA1k" KeyPath="yes" Source="$(var.MainBasePath)\Resource.dll" />
            </Component>
            <Component Id="cmp2W9.0BkwEoXuaV1KNYJAs4k4fy4" Guid="{B6AF6F25-1486-4AF3-B5E2-56F47695667B}">
                <File Id="fil3Qb7Dv7Tw9jkC.BHDedAS64uLbY" KeyPath="yes" Source="$(var.MainBasePath)\Resource.pdb" />
            </Component>
            <Component Id="cmpQcbCMlSvBENXStHYj1XtJG9SItY" Guid="{5CD15409-6F7B-40A8-B757-A7F236429CD6}">
                <File Id="fil4Oa.vsdY5yd9dhq.ccw3pTkLLE8" KeyPath="yes" Source="$(var.MainBasePath)\Serilog.dll" />
            </Component>
            <Component Id="cmpAu0Kd3xmSE1nLbpPS5Y90gUeR54" Guid="{A3F5E00E-84B6-4882-868E-87BC2CD7D33A}">
                <File Id="fil04XOWuGj3qH1Ilx8Eix1CI3fjTo" KeyPath="yes" Source="$(var.MainBasePath)\SettingsModule.dll" />
            </Component>
            <Component Id="cmplnKmbe5u_WPvmfcitdM3akf9tDk" Guid="{3FDA8671-E6FC-4AAE-8715-4941AEE06339}">
                <File Id="filVpdM5_Vw0W.jEJgb2y_SkyN9AkQ" KeyPath="yes" Source="$(var.MainBasePath)\SettingsModule.pdb" />
            </Component>
            <Component Id="cmpcDAqahz19e01PEe7FmI_cVtB7Iw" Guid="{4ADB8FE1-9433-4F7C-85AF-F26FB8090C2D}">
                <File Id="filjM9GBhE_LYt6s3Yf9u13SajcoBk" KeyPath="yes" Source="$(var.MainBasePath)\Unity.Abstractions.dll" />
            </Component>
            <Component Id="cmpaEO4EaY_EY.X7umMiOERcs0Ujfg" Guid="{8CCF25F3-EC8B-4535-B7C5-0FDF1595077E}">
                <File Id="filDwK047K5Bj91CcGCtzT0ua_WEfo" KeyPath="yes" Source="$(var.MainBasePath)\Unity.Container.dll" />
            </Component>
            <Component Id="cmpxzFLZttro6UZQR2ctDkPVwCwank" Guid="{71D748AF-93D0-447C-AF16-7A3D73AE4CF1}">
                <File Id="fil5rtQAxVwWLbTrsaNDp4BdIhEJto" KeyPath="yes" Source="$(var.MainBasePath)\VersionController.deps.json" />
            </Component>
            <Component Id="cmpSrEOR.NC25v2RLhOnfLaj4kjvTc" Guid="{4AD104A2-E455-470A-9A81-4D2DEC696D6E}">
                <File Id="filnvlRF5n3xok02XGvXPevvo8BIc8" KeyPath="yes" Source="$(var.MainBasePath)\VersionController.dll" />
            </Component>
            <Component Id="cmp4yGQxouOc177.jIwVKM6Tgy81U4" Guid="{A69D618E-77B2-4870-A128-7BEE3DBF4B7C}">
                <File Id="filo7eFXvapaL81WlPxVRG1fX9NueU" KeyPath="yes" Source="$(var.MainBasePath)\VersionController.exe" />
            </Component>
            <Component Id="cmp8e2Y7UMO4mJFTNCl98pdmNQna5M" Guid="{09E65B87-A89E-473F-A0C4-B1657E4AAEDE}">
                <File Id="filwUOjtCEp0K6TGeH.7DU5DkS43xA" KeyPath="yes" Source="$(var.MainBasePath)\VersionController.pdb" />
            </Component>
            <Component Id="cmpsIrkDIsD0uHzsOKsdDeCF1APj_Y" Guid="{B4D7B4CD-D475-4F24-99B2-13349B5F15ED}">
                <File Id="fil7r._xqAadE1iuZNUHQbukVWsO3E" KeyPath="yes" Source="$(var.MainBasePath)\VersionController.runtimeconfig.json" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedAppUIComponents">
            <ComponentRef Id="cmpJE0G5IUtaRILQGELIBgnANTR5t4" />
            <ComponentRef Id="cmpzh8zytjkUSXTroBqREW4z2Tonug" />
            <ComponentRef Id="cmpu.YAXsXQWKEXEdK8DT2._YvAOQA" />
            <ComponentRef Id="cmpk.LX06kbVUgDCgpkHpJbVxtHUH8" />
            <ComponentRef Id="cmp1FvqwvwmXYU7ysUoLTjLc.U9OmI" />
            <ComponentRef Id="cmpxS0KlCa2n5LoidzMvMgCyWwvqvg" />
            <ComponentRef Id="cmpK6Z1auv_XhIKfZbTdOjapwGkGk0" />
            <ComponentRef Id="cmpS7Q9qwavrpCOGMYx3pffz4YY_gk" />
            <ComponentRef Id="cmpqpH2JJwPWWCuWO9q9huh62k3Abs" />
            <ComponentRef Id="cmpGU.ac7zGPAKn6rUsbAVLpqj6TuQ" />
            <ComponentRef Id="cmpSOmLVevMMETyQ5mx_L32U9i6QpI" />
            <ComponentRef Id="cmpYMKjdnyZSO0yv6LgVbgTxZUUN.8" />
            <ComponentRef Id="cmp2W9.0BkwEoXuaV1KNYJAs4k4fy4" />
            <ComponentRef Id="cmpQcbCMlSvBENXStHYj1XtJG9SItY" />
            <ComponentRef Id="cmpAu0Kd3xmSE1nLbpPS5Y90gUeR54" />
            <ComponentRef Id="cmplnKmbe5u_WPvmfcitdM3akf9tDk" />
            <ComponentRef Id="cmpcDAqahz19e01PEe7FmI_cVtB7Iw" />
            <ComponentRef Id="cmpaEO4EaY_EY.X7umMiOERcs0Ujfg" />
            <ComponentRef Id="cmpxzFLZttro6UZQR2ctDkPVwCwank" />
            <ComponentRef Id="cmpSrEOR.NC25v2RLhOnfLaj4kjvTc" />
            <ComponentRef Id="cmp4yGQxouOc177.jIwVKM6Tgy81U4" />
            <ComponentRef Id="cmp8e2Y7UMO4mJFTNCl98pdmNQna5M" />
            <ComponentRef Id="cmpsIrkDIsD0uHzsOKsdDeCF1APj_Y" />
        </ComponentGroup>
    </Fragment>
</Wix>